
    @media only screen and (max-width: 1000px) {
            .navbar-collapse.collapse 
              {
                display: block!important;
              }

              .navbar-nav>li, .navbar-nav 
              {
                float: left !important;
              }

              .navbar-nav.navbar-right:last-child 
              {
                margin-right: -15px !important;
              }

              .navbar-brand{
                width: 100%;
                 text-align: center;
              }

              .navbar
              {
                text-align: center;
              }
              .img-custom
              {
                min-width: 100%;
              }

      }

      .container
      {
        margin-bottom: 80px !important;
        background-color: white!important;;
      }
      body
      {
        background-color: #e0e0e0!important;
      }
      .navbar-brand{
        padding: 14px;
        margin: 0px;
        font-weight: 600; 
        background-color:#00b5a6;
      }
      h1{
        font-weight: 600; 
         color:#00b5a6;
      }
      .navbar
      {
      border-bottom: 2px solid #00b5a6;
        background-color: white!important;
        padding: 0px;
      }
      .nav-link{
           color: #6e6e6e !important;
      }
       
footer
{
  width: 100%;
  position: fixed;
  bottom: 0px;
  text-align: center;
  max-height: 60px;
  z-index: 200;
  background-color: white;
  border-top: 5px solid #00b5a6;
}
.custom-col .card-img-top
{
  max-height: 200px !important;
}
.container
{
  padding: 20px;
  margin-bottom: 20px;
}

.card-body
{
  background-color: #00b5a6;
  text-align: center;
  height: 70px !important;
}